 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 6rem;
  margin: 347px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: "Noto Sans";
  font-size: 1.25rem;
  letter-spacing: 6px;
  font-weight: 400;
  margin: 85px auto 0;
}

.u-section-1 .u-image-1 {
  width: 8px;
  height: 53px;
  margin: 169px auto 19px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/christmas-still-life-arrangement-with-copy-space_23-2149174210.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 417px;
}

.u-section-2 .u-text-1 {
  text-align: center;
  font-size: 1.25rem;
  font-family: "Noto Sans";
  font-weight: 700;
  letter-spacing: 4px;
  margin: 113px auto 0;
}

.u-section-2 .u-text-2 {
  text-align: center;
  font-size: 2.25rem;
  font-family: "Noto Sans";
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-countdown-1 {
  margin: 32px auto 60px;
}

.u-section-2 .u-countdown-item-1 {
  padding: 6px 8px;
}

.u-section-2 .u-countdown-counter-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-item-2 {
  padding: 6px 8px;
}

.u-section-2 .u-countdown-counter-2 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-2 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-item-3 {
  padding: 6px 8px;
}

.u-section-2 .u-countdown-counter-3 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-3 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-item-4 {
  padding: 6px 8px;
}

.u-section-2 .u-countdown-counter-4 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-4 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-item-5 {
  padding: 6px 8px;
}

.u-section-2 .u-countdown-counter-5 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-separator-5 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-item-6 {
  padding: 6px 8px;
}

.u-section-2 .u-countdown-counter-6 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
}

.u-section-2 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-2 .u-countdown-1 {
    margin: 33px 0 59px;
  }
} .u-section-3 {
  min-height: 676px;
}

.u-section-3 .u-text-1 {
  font-family: "Noto Sans";
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: "Noto Sans";
  background-image: none;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 599px;
  width: 1020px;
  margin: 20px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-5 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-6 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-7 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-8 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-9 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-10 {
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 2px);
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-control-1 {
    right: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 637px;
}

.u-section-4 .u-text-1 {
  font-family: "Noto Sans";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 63px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: "Noto Sans";
  background-image: none;
  font-style: normal;
  width: 336px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(25% - 75px);
  grid-template-columns: repeat(4, calc(25% - 75px));
  min-height: 373px;
  margin-top: 0;
  grid-gap: 100px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-4 .u-image-1 {
  height: 180px;
  background-image: url("images/1.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-4 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-5 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-4 .u-image-2 {
  height: 180px;
  background-image: url("images/2.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-7 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-4 .u-image-3 {
  height: 180px;
  background-image: url("images/3.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-10 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-11 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-4 .u-image-4 {
  height: 180px;
  background-image: url("images/4.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-13 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-14 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-4 .u-image-5 {
  height: 180px;
  background-image: url("images/5.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-15 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-16 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-17 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-4 .u-image-6 {
  height: 180px;
  background-image: url("images/6.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-18 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-19 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-20 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-4 .u-image-7 {
  height: 180px;
  background-image: url("images/7.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-21 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-22 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-23 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-4 .u-image-8 {
  height: 180px;
  background-image: url("images/8.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-24 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-25 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-26 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-4 .u-image-9 {
  height: 180px;
  background-image: url("images/9.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-27 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-28 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-29 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-10 {
  padding: 10px 0;
}

.u-section-4 .u-image-10 {
  height: 180px;
  background-image: url("images/10.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-30 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-31 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-32 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-list-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 10px 0;
}

.u-section-4 .u-image-11 {
  height: 180px;
  background-image: url("images/11.png");
  background-position: 50% 50%;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.u-section-4 .u-text-33 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  text-align: center;
  margin: 22px auto 0;
}

.u-section-4 .u-text-34 {
  font-family: "Noto Sans";
  text-align: center;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-4 .u-text-35 {
  font-style: italic;
  font-family: "Noto Sans";
  text-align: center;
  margin: 28px -7px 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 11px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 166px;
  right: 11px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-32 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-35 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 50px);
    grid-template-columns: repeat(2, calc(50% - 50px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-list-1 {
    width: 441px;
    margin-top: 23px;
    margin-left: -51px;
    margin-right: -51px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}